<section class="section">
  <div class="container">
    <div class="row">
      <div class="details-container">
        <h3 class="profession">Web Developer</h3>
        <h1 class="fullname">Kate Moore</h1>
        <p>I design and develop services for customers of all sizes,
          specializing in creating stylish, modern websites, web
          services and online stores.</p>
      </div>
      <div class="img-container">
        <img class="banner" src="/assets/img/banner.png" alt="">
      </div>
    </div>
  </div>
</section>
