.scroll-top {
  display: none;
  background: var(--primary-color);
  outline: none;
  border: none;
  z-index: 99;
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 30px;
  transition: background-color 0.15s ease-in-out;
  width: 2.5em;
  height: 2.5em;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  align-items: center;
  justify-content: center;

  & svg {
    fill: #ffff;
  }

  &:hover {
    background-color: var(--primary-color-dark);
  }
}

.active {
  display: flex !important;
}
