<header>
  <nav class="navigation">
    <div class="container">
      <a>Kate Moore</a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="btn-contact">Contact Me</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
