@import './styles/_media-queries.scss';

.navigation {
  padding-top: 0.938rem;
  padding-bottom: 0.938rem;
  display: flex;
}

.navigation .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  list-style: none;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.nav-list .nav-item .nav-link {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  color: var(--nav-link-color);

  &:hover {
    color: var(--nav-link-hover-color);
  }
}

.btn-menu {
  cursor: pointer;
  color: var(--sidenav-toggler-color);

  &:hover {
    color: var(--sidenav-toggler-hover-color);
  }
}

.btn-contact {
  display: inline-block;
  font-size: 1rem;
  background-color: var(--primary-color);
  border-radius: 50px;
  padding: 0.5rem 0.875rem;
  color: #fff;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: color .15s ease-in-out, background-color .15s ease-in-out;

  &:hover {
    background-color: var(--primary-color-dark);
  }
}

.sidenav {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  border-left: 1px solid rgba(0, 0, 0, 0.175);
  bottom: 0;
  z-index: 1045;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  transform: translateX(100%);
  visibility: hidden;
  transition: ease-in-out 0.5s transform;
}

.sidenav.show {
  visibility: visible !important;

  &:not(.hiding) {
    transform: translateX(0);
    transition: ease-in-out 0.5s transform;
  }
}

.sidenav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.sidenav-body {
  padding: 1rem;
  overflow-y: auto;
}

.sidenav-title {
  margin-bottom: 0;
}

.sidenav-close {
  cursor: pointer;
  color: var(--sidenav-toggler-color);

  &:hover {
    color: var(--sidenav-toggler-hover-color);
  }
}

.sidenav-backdrop {
  opacity: .5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  transition: opacity .15s linear;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}

.sidenav-backdrop.show {
  opacity: .5;
  visibility: visible;
}

.sidenav-backdrop.hiding {
  opacity: 0;
  visibility: visible;
}

@include respond-above(md) {
  .btn-contact {
    margin-top: 0;
    margin-left: 0.75rem;
  }

  .sidenav {
    position: static;
    z-index: auto;
    width: auto !important;
    height: auto !important;
    visibility: visible !important;
    background-color: transparent !important;
    border: 0 !important;
    transform: none;
    transition: none;
  }

  .sidenav-header {
    display: none;
  }

  .sidenav-body {
    display: flex;
    padding: 0;
  }

  .btn-menu {
    display: none;
  }

  .nav-list {
    display: flex;
    flex-direction: row !important;
    list-style: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .nav-list .nav-item .nav-link {
    display: block;
    padding: 0.625rem !important;
    font-size: 1rem;
    cursor: pointer;
    color: var(--nav-link-color);

    &:hover {
      color: var(--nav-link-hover-color);
    }
  }

}
