<header appScroll toogleClass="sticky" [activateOn]="1">
  <nav class="navigation">
    <div class="container">
      <a>
        <img routerLink="/" fragment="landing" class="logo" [src]='"assets/img/"+logoName+".svg"' alt="Logo" width="170"
          height="24">
      </a>
      <svg class="btn-menu" xmlns="http://www.w3.org/2000/svg" height="1.50em" viewBox="0 0 448 512"
        (click)="openSidenav()">
        <path
          d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
      </svg>
      <div class="nav">
        <div class="nav-body">
          <ul class="nav-list">
            @for (item of navItems; track item) {
            <li class="nav-item">
              <a routerLink="/" [fragment]="item.link" [routerLinkActive]="item.activeClassName"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ matrixParams: 'exact', queryParams: 'exact', paths: 'exact', fragment: 'exact'}"
                [href]="item.link" [className]="item.className">
                {{ item.title }}
              </a>
            </li>
            }
          </ul>
          <app-theme-switcher></app-theme-switcher>
        </div>
      </div>
      @if (sidenavState === 'in'){
      <div class="nav-backdrop" (click)="closeSidenav()"></div>
      }
    </div>
  </nav>
</header>
<app-sidenav [@slideInOut]="sidenavState" (onClose)="closeSidenav()"></app-sidenav>
