.navigation {
  padding-top: 0.938rem;
  padding-bottom: 0.938rem;
}

.navigation .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-list .nav-item .nav-link {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  font-size: 1rem;
}

.btn-contact {
  font-size: 1rem;
  background-color: var(--primary-color);
  border-radius: 50px;
  padding: 0.5rem 0.875rem;
  color: #fff;
  margin-left: 0.75rem;
}
