<div class="menu-container" (clickOutside)="onClickOutside()">
  <button class="menu-toggler" (click)="toggleMenu()">
    <svg height="1em" viewBox="0 0 512 512">
      <path [attr.d]="selectedOption.icon"></path>
    </svg>
    <span class="menu-toggler-text">{{togglerLabel}}</span>
  </button>
  @if (isMenuVisible) {
  <div class="menu">
    <ul>
      @for (val of themeOptions; track val) {
      <li>
        <button class="menu-item" (click)="updateTheme(val.name)"
          [ngClass]="{'active':selectedOption.name === val.name}">
          <svg height="1em" viewBox="0 0 512 512">
            <path [attr.d]="val.icon"></path>
          </svg>
          {{val.name | titlecase }}
        </button>
      </li>
      }
    </ul>
  </div>
  }
</div>
