<section>
  <div class="container">
    <h2>Experience</h2>
    <div class="experience">
      <div class="experience-card" appFade="up">
        <div class="experience-card-info">
          <h3 class="experience-card-info-title">Founder at Mailebo</h3>
          <span class="experience-card-info-date">Mailebo | Remote</span>
          <span class="experience-card-info-date">Aug 2022 - Present</span>
          <div>
            <span class="experience-card-info-badge">Full Time</span>
          </div>
        </div>
        <div class="experience-card-details">
          <h3 class="experience-card-details-title">Mailebo</h3>
          <p>I created [https://mailebo.com](https://mailebo.com/) a company that aims to simplify the management of corporate email boxes.</p>
          <!-- Project details can be added here -->
        </div>
      </div>

      <!-- Singulier - Data Engineer -->
      <div class="experience-card" appFade="up" [delay]="200">
        <div class="experience-card-info">
          <h3 class="experience-card-info-title">Data Engineer at Singulier</h3>
          <span class="experience-card-info-date">Singulier | Remote</span>
          <span class="experience-card-info-date">May 2023 - Present</span>
          <div>
            <span class="experience-card-info-badge">Full Time</span>
          </div>
        </div>
        <div class="experience-card-details">
          <h3 class="experience-card-details-title">Projects at Singulier</h3>
          <!-- Project details for Singulier can be added here -->
        </div>
      </div>

      <!-- LYXOR Asset Management - Data Engineer/Analyst -->
      <div class="experience-card" appFade="up" [delay]="400">
        <div class="experience-card-info">
          <h3 class="experience-card-info-title">Data Engineer/Analyst at LYXOR Asset Management</h3>
          <span class="experience-card-info-date">LYXOR Asset Management</span>
          <span class="experience-card-info-date">Nov 2019 - Jun 2021</span>
          <div>
            <span class="experience-card-info-badge">Full Time</span>
          </div>
        </div>
        <div class="experience-card-details">
          <h3 class="experience-card-details-title">Projects at LYXOR</h3>
          <!-- Project details for LYXOR Asset Management can be added here -->
        </div>
      </div>

      <!-- Enedis - Data Scientist -->
      <div class="experience-card" appFade="up" [delay]="600">
        <div class="experience-card-info">
          <h3 class="experience-card-info-title">Data Scientist at Enedis</h3>
          <span class="experience-card-info-date">Enedis</span>
          <span class="experience-card-info-date">Sep 2018 - Sep 2019</span>
          <div>
            <span class="experience-card-info-badge">Full Time</span>
          </div>
        </div>
        <div class="experience-card-details">
          <h3 class="experience-card-details-title">Projects at Enedis</h3>
          <!-- Project details for Enedis can be added here -->
        </div>
      </div>

      <!-- CEA - Python Developer -->
      <div class="experience-card" appFade="up" [delay]="800">
        <div class="experience-card-info">
          <h3 class="experience-card-info-title">Python Developer at CEA</h3>
          <span class="experience-card-info-date">CEA</span>
          <span class="experience-card-info-date">May 2018 - Aug 2018</span>
          <div>
            <span class="experience-card-info-badge">Full Time</span>
          </div>
        </div>
        <div class="experience-card-details">
          <h3 class="experience-card-details-title">Projects at CEA</h3>
          <!-- Project details for CEA can be added here -->
        </div>
      </div>
    </div>
    <hr>
    <h2>Education & Skills</h2>
    <div class="education-skill">
      <!-- Education details can be added here -->
    </div>
  </div>
</section>
