<section>
  <div class="container">
    <div class="services-title">
      <h2>Our Services</h2>
      <p>Explore our specialized offerings tailored to your data needs:</p>
    </div>
    <div class="services">
      <div class="services-card" appFade="left">
        <h3 class="services-card-subtitle">Data Engineering & Pipelines</h3>
        <h3 class="services-card-title">Robust Data Platforms</h3>
        <p>As an experienced Data Engineer, I specialize in architecting and implementing robust data platforms. From designing cloud infrastructure to orchestrating seamless data pipelines, I ensure efficient data processing and integration across industries like asset management, HR, and e-commerce.</p>
      </div>
      <div class="services-card" appFade="left" [delay]="200">
        <h3 class="services-card-subtitle">DevOps & CI/CD Pipelines</h3>
        <h3 class="services-card-title">Efficient Operations</h3>
        <p>My background in DevOps practices enables me to establish CI/CD pipelines, ensuring reliability and scalability for data platforms. I streamline operations, minimizing cloud-related costs while maximizing efficiency and maintaining top-notch performance.</p>
      </div>
      <div class="services-card" appFade="left" [delay]="400">
        <h3 class="services-card-subtitle">Cloud Infrastructure & Optimization</h3>
        <h3 class="services-card-title">Cost-effective Solutions</h3>
        <p>Specializing in crafting and optimizing tailored cloud infrastructure, I align the setup with business expectations across diverse sectors. Minimizing cloud costs without compromising performance, I enable businesses to leverage their data effectively within a cost-effective and business-oriented cloud environment.</p>
      </div>
    </div>
  </div>
</section>
